<html>
	<head>
		<title>instance data manager</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
	</head>
	<body>
		<h1><a href="/">instance data manager</a></h1>	
		<form action="/search" method="POST">
			<p>search for a tag: <input type="text" name="query" /> <input type="submit" /></p>
		</form>
		<hr />
		<%= yield %>
	</body>
</html>
